*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navbar{
    display: block;


}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #dedcdc;
    font-family: 'Poppins', sans-serif;
    margin-bottom:1rem;
}

.logo{
    color: #2e3836;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color:#2e3836 ;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}
.burger{
    display: none;
    width: 25px;
    height: 25px;
    margin: 5px;
}
img{
  width: 30px;
  height: 30px;
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 50vh;
        top: 8vh;
        background-color:#dedcdc ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 1.0s ease-out;
    }
    .nav-links li{
        opacity: 1;

    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-active{
        transform: translateX(0%);
        transition: transform 1.0s ease-in;

    }


}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
